@import url("//cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
$purple: #5C3977;
$purple-fade: #78638F;
$purple-wash: #CCC4D5;
$orange: #EE5340;
$orange-fade: #E57D6D;
$orange-wash: #F5CEC8;
$teal: #008C95;
$teal-fade: #62A1A9;
$teal-wash: #C4DCDE;
$blue: #606EB2;
$blue-fade: #818CBD;
$blue-wash: #CFD4E6;
$gray-100: #494F56;
$gray-90: #5B6066;
$gray-70: #7F8388;
$gray-50: #A3A6A9;
$gray-30: #C7C9CB;
$gray-20: #DADBDD;
$gray-10: #ECECED;
$gray-5: #F3F3F4;

body{
  font-family: Montserrat Medium, sans-serif;
  width:100%;
  height:100%;
}

html, #root, .App{
  width:100%;
  height:100%;
}
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-1{
  flex: 1;
}
.header{
  background: $purple;
  text-align: center;
  color:white;
  display:flex;
  height:10vh;
}

.footer {
  background: $purple;
  text-align: center;
  color: white;
  display:flex;
  height:5vh;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.flex{
  display:flex;
  width: 100vw;
  height: 85vh;
}

.left{
  flex:20;
}
.right{
  flex:80;
}
.center{
  margin:auto;
  justify-content: center;
}

.v-center{
  display: flex;
  align-items: center;

  height: 85vh;
}